* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 2rem 0;
}

.line-through {
  text-decoration: line-through 1.5px rgba(255, 0, 0, 0.677);
}

span:hover {
  cursor: pointer;
}